@using Entities
@using Business

<hr />
<select @onchange="CategoryChanged">
    <option value="">Seleccione una categoria</option>
    @foreach (var category in categories)

    {
        <option value="@category.CategotyId">@category.CategoryName</option>
        
    }
</select>

<hr />
<table>
    <thead>
        <tr>
            <th>Referencia</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Categoria</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in tempProducts)
        {
            <tr>
                <th>@product.ProductId</th>
                <th>@product.ProductName</th>
                <th>@product.ProductDescription</th>
                <th>@product.CategotyId</th>
            </tr>
            
        }
    </tbody>
</table>


@code {
     List<ProductEntity> products = new List<ProductEntity>();
         List<CategoryEntity> categories = new List<CategoryEntity>();
             List<ProductEntity> tempProducts = new List<ProductEntity>();
    protected override async Task OnInitializedAsync(){
        products = B_Products.GetAll();
        categories = B_Category.GetAll();
        tempProducts = products;
    }

    private void CategoryChanged(ChangeEventArgs e){
        Console.WriteLine(e.Value);
        tempProducts =  products.Where(p=> p.CategotyId == e.Value.ToString()).ToList();
    }
    
}